*.rpt
*.map
*.done
*.smsg
*.jdi
*.summary
*.sld
*.pin
/src/simulation
/src/.qsys_edit
/src/Block Design
/src/db/
/src/greybox_tmp
/src/incremental_db
Freq_locking_control_2023_0203/db/relay_feedback_osc.quiproj.1872.rdr.flock
